<h1>Add Student</h1>
<form action="/students" method="post">
    <label for="first-name-field">First name:</label><br>
    <input type="text" name="first_name"><br>

    <label for="last-name-field">Last name:</label><br>
    <input type="text" name="last_name"><br>

    <label for="house-selection">House:</label><br>
    <select name="house">
      <option value="Gryffindor">Gryffindor</option>
      <option value="Slytherin">Slytherin</option>
      <option value="Ravenclaw">Ravenclaw</option>
      <option value="Hufflepuff">Hufflepuff</option>
    </select><br>

    <label for="age-field">Age:</label><br>
    <input type="text" name="age"><br>

    <input type="submit" value="Submit Form">
</form>